---
- name: Remove The Podman Docker wrapper if present
  ansible.builtin.yum:
    name: podman-docker
    state: absent
  ignore_errors: true
  when: ansible_os_family == "RedHat"

- name: Add The Docker repository (Debian/Ubuntu)
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64] https://download.docker.com/linux/{{ ansible_distribution | lower }} {{ ansible_lsb.codename }} stable"
    state: present
  when: ansible_os_family == "Debian"

- name: Add The Docker repository (CentOS/RHEL)
  ansible.builtin.command: >
    dnf config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo
  args:
    creates: /etc/yum.repos.d/docker-ce.repo
  when: ansible_os_family == "RedHat"

- name: Install The Docker engine (Debian)
  ansible.builtin.apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
    state: present
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Install The Docker engine (CentOS)
  ansible.builtin.yum:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
    state: present
  when: ansible_os_family == "RedHat"


- name: Enable and start The Docker service
  ansible.builtin.service:
    name: docker
    state: started
    enabled: true

- name: Install The Python3 pip (Debian)
  ansible.builtin.apt:
    name: python3-pip
    state: present
  when: ansible_os_family == "Debian"

- name: Install The Python3 pip (CentOs)
  ansible.builtin.yum:
    name: python3-pip
    state: present
  when: ansible_os_family == "RedHat"

- name: Install The Docker SDK for Python (Debian APT)
  ansible.builtin.apt:
    name: python3-docker
    state: latest
  when: ansible_os_family == "Debian"

- name: Install The Docker SDK for Python (CentOS PIP)
  ansible.builtin.pip:
    name: docker
    executable: pip3
    state: latest
  when: ansible_os_family == "RedHat"

- name: Deploy The Prometheus container
  community.docker.docker_container:
    name: "{{ monitoring_prometheus.container_name }}"
    image: "{{ monitoring_prometheus.image }}"
    state: started
    restart_policy: always
    ports:
      - "{{ monitoring_prometheus.port }}:9090"
    docker_host: "unix:///var/run/docker.sock"


- name: Deploy The Grafana container
  community.docker.docker_container:
    name: "{{ monitoring_grafana.container_name }}"
    image: "{{ monitoring_grafana.image }}"
    state: started
    restart_policy: always
    ports:
      - "{{ monitoring_grafana.port }}:3000"
    docker_host: "unix:///var/run/docker.sock"
